body{
    background: url("../images/cinema-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Fascinate', cursive;
    color: #da070b;
    font-size: 50px;
}   
.main-content{
    background: rgba(255,255,255,.85);
    margin-top: 50px;
    padding: 50px;
    min-height: 50vh;
}
.timer {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;
    color: #da070b;
    margin: 20px 0;
}
.timer small{
    color: #333;
}
.timer span{
    font-weight: 400;
}
.card-header{
    font-weight: 600;
    color: #333;
    padding: 20px 25px;
}
.list-group button{
    width: 100%;
}

.list-group button:hover{
    background: #da070b;
    color: #fff;
}

.list-group button:focus{
    background: #bb0509;
    color: #fff;
    box-shadow: none;
}

.bg-white{
    background: #FFF;
}
#wrapper{
    min-height: calc(100vh - 50px);
}

footer{
    height: 50px;;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
footer a{
    color: #fff;
}

footer a:hover{
    color: #fff;
}


button.big-btn {
    margin-top: 30px;
    padding: 15px 60px;
    text-transform: uppercase;
}

li.list-group-item {
    padding: 0;
}

li.list-group-item .btn{
    border-radius:  0;
    padding: 12px;
}

#message-display h3{
    color: #da070b;
    margin-top: 30px;
    font-weight: 700;
}
.final-information {
    margin-top: 30px;
}
.final-information h3{
    margin-bottom: 30px;
}

.final-information p{
    text-transform: uppercase;
    color: #333; 
}

.final-information strong{
    font-weight: 700;
}
